<main class="login-form">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header text-center">Login</div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="login()" >
              <div *ngIf="showErrorMessage" class="form-group row">
                <span class="error text-danger col-md-7 offset-md-3">
                  Invalid username or password.Please try again!.
                </span>
              </div>
              <div class="form-group row">
                <label for="username" class="col-md-4 col-form-label text-md-right">Username</label>
                <div class="col-md-6">
                  <input type="text" id="username" class="form-control" name="username" formControlName="username" autofocus>
                </div>
              </div>

              <div class="form-group row">
                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                <div class="col-md-6">
                  <input type="password" id="password" class="form-control" name="password" formControlName="password">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6 offset-md-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="remember"> Remember Me
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn w-100 btn-primary" [disabled]="!loginForm.valid">
                  Login
                </button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>

</main>
