<div class="container-fluid col-md-6">
  <div class="card">
    <div class="card-header text-center">Add Member to Racing Team</div>
    <div class="card-body">
  <!--Template Driven Form or Model Driven Form?-->
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div>
      <div class="row">
        <div class="col-md-6">
          <input type="text" formControlName="firstName"
          placeholder="First Name" name="firstName"
           class="form-control" id="firstName"/>
        </div>
        <div class="col-md-6">
          <input type="text" formControlName="lastName"
           placeholder="Last Name" name="lastName"
            class="form-control" id="lastName"/>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">         
          <input type="text" formControlName="jobTitle"
           placeholder="Job Title" name="jobTitle"
            class="form-control" id="jobTitle"/>
        </div>
        <!--We may have to make a service call to get this list-->
        <div class="col-md-6">
          <select id="team" class="form-control" formControlName="team">
            <option value="">Select Team Name</option>
            <option *ngFor="let team of teams">{{ team.teamName }}</option>
          </select>
        </div>
        
      </div>
      <br />
      <div class="form-group col-md-6">
        <div class="row">
          <label id="activeStatus" class="md-check lead">
            <input type="radio" value="Active" name="status" formControlName="status"/> Active
          </label>
          <label class="md-check lead">
            <input type="radio" value="Inactive" name="status" formControlName="status"/> Inactive
          </label>
        </div>
      </div>
    </div>
    <!--Disable if form is invalid-->
    <button type="submit" class="btn btn-primary pull-right" [disabled]="!addForm.valid">
      Save Member
    </button>
    <div style="color: red;">{{errmsg}}</div>
  </form>
</div>
</div>
</div>
